  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{{ url_for('static', filename='dist/img/utpl_logo.png')}}" alt="HIA Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">HIA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="/" class="d-block">Energías renovables</a>
        </div>
      </div>

      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">MENU</li>
          <li class="nav-item">
            <a href="/modelo" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Modelo</p>
            </a>
          </li>
        </ul>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">ACADEMICO</li>
          <li class="nav-item">
            <a href="/introduccion" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Introducción</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/marco" class="nav-link">
               <i class="nav-icon far fa-circle text-warning"></i>
              <p class="text">Marco teórico</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dataset" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p class="text">Dataset</p>
            </a>
          </li>
            <li class="nav-item">
            <a href="/desarrollo" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Desarrollo</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/conclusiones" class="nav-link">
               <i class="nav-icon far fa-circle text-warning"></i>
              <p class="text">Conclusiones</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/bibliografia" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p class="text">Bibliografía</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>