{% extends 'adm_layout.html' %}
{% block body %}

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Panel de control</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active">Modelo</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->


            <h2>Predicción de producción  de energía solar en Brasil</h2>
                <form action="/predict" method="post" id="predictionForm">
                    <label for="features">Ingrese 53 características (separados por coma):</label><br>
                     <textarea id="features" name="features" rows="10" cols="100"></textarea><br><br>
                    <input type="submit" value="Predecir">
                </form>


                <script>
                    document.getElementById('predictionForm').onsubmit = function(event) {
                        event.preventDefault();
                        var features = document.getElementById('features').value.split(',').map(Number);

                        if (features.length !== 53) {
                            alert('Por favor ingrese exactamente 53 características númericas.');
                            return;
                        }

                        fetch('/generar_reporte', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ features: features })
                        })
                        .then(response => response.blob())
                        .then(blob => {
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = 'reporte.pdf';
                            document.body.appendChild(a);
                            a.click();
                            a.remove();

                            //refrescamos la página despúes de la descarga
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);

                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    };
                </script>

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}