{% extends 'adm_layout.html' %}
{% block body %}

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Panel de control</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active">Modelo</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->


<h1>Predict Solar Energy Production in Brazil</h1>
<form action="/predict" method="post" id="predictionForm">
<label for="features">Enter Features (comma-separated):</label><br>
 <textarea id="features" name="features" rows="10" cols="80"></textarea><br><br>
<input type="submit" value="Predict">
</form>


    <script>
        document.getElementById('predictionForm').onsubmit = function(event) {
            event.preventDefault();
            var features = document.getElementById('features').value.split(',').map(Number);
            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ features: features })
            })
            .then(response => response.json())
            .then(data => {
                alert('Predicted Production: ' + data.prediction);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };
    </script>




          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}